<div class="title-header">// STUDENTS</div>
<div class="student-index-container">
<% @users.each do |user| %>
<div class="student-info-container mod<%=user.cohort.current_mod%>">
  <div class="student-info-top">
    <%= image_tag user.image_url, class: "profile-image-thumbnail", class:"profile-thumbnail"%>
  </div>
  <div class="student-info-bottom">
    <p><%= link_to user.full_name, user %></p>
    <p><%= link_to "Cohort #{user.cohort.name}", cohorts_path(user.cohort) %></p>
  </div>
</div>
<% end %>
</div>
