<div class="title-header">// COHORTS</div>
<div class="cohort-index-container">
<% @cohorts.each do |cohort| %>
<% if cohort.current_mod <= 5 %>
<%= link_to "Mod #{cohort.current_mod}", cohort_path(cohort), class:"cohort-index-button mod#{cohort.current_mod}" %>
<% else %>
<%= link_to "Cohort #{cohort.name}", cohort_path(cohort), class:"cohort-index-button mod#{cohort.current_mod}" %>
<% end %>
<% end %>
</div>
