
<% if @cohort.current_mod <= 5 %>
<h1>Cohort <%= @cohort.name %></h1>
<h2>Current Mod: <%= @cohort.current_mod %></h2>
<% else %>
<h1>Cohort <%= @cohort.name %></h1>
<h2>Graduated</h2>
<% end %>
<% @users.each do |user| %>
<li>
<%= link_to user.full_name, user%></li>
<% end %>
