<div class="home-page-container">
  <div id="homepage-header">// FLATIRON PORTFOLIO</div>
    <div class="home-icon" id="cohorts">
      <%= link_to "COHORTS", cohorts_path %>
    </div>
    <div class="home-icon" id="students">
      <%= link_to "STUDENTS", users_path %>
    </div>
    <div class="home-icon" id="projects">
      <%= link_to "PROJECTS", projects_path %>
    </div>
</div>
