<div class="home-page-container">
  <div id="homepage-header">// FLATIRON PORTFOLIO</div>
    <div class="home-icon" id="cohorts">
      <%= link_to "Cohorts", cohorts_path %>
    </div>
    <div class="home-icon" id="students">
      <%= link_to "Students", users_path %>
    </div>
    <div class="home-icon" id="projects">
      <%= link_to "Projects", projects_path %>
    </div>
</div>
